// mixin style start
@mixin breakpoint($max-width) {
    @media only screen and (max-width: #{$max-width + px}) {
        @content;
    }
}

@mixin minbreakpoint($min-width) {
    @media only screen and (min-width: #{$min-width + px}) {
        @content;
    }
}

@mixin font($size, $line-height: null) {
    font-size: #{$size + px};

    @if $line-height !=null {
        line-height: #{$line-height + px};
    }
}

@mixin transition($property: all,
    $duration: 0.3s,
    $timing-function: ease,
    $delay: 0s) {
    transition: $property $duration $timing-function $delay;
}

@mixin height-width($height, $width: null) {
    width: 100%;
    max-width: #{$width + px};
    height: #{$height + px};
}

// Font Face Mixin for Custom Fonts
@mixin font-face($font-name, $font-file, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-name;
        src: url('../fonts/#{$font-file}.woff2') format('woff2');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
    }
}

// mixin style end
