@use '../variables' as *;
@use '../mixins' as *;
@use '../base' as *;
@use '../utilities' as *;

.single-igd-feature {
  background: #00130b;
}

// Variables
$ccpigd-primary: #00ac47;
$ccpigd-secondary: #e1f2a6;
$ccpigd-text: #f0fff6b2;
$ccpigd-bg: #00ac470d;
$ccpigd-border: #00ac4733;

$ccpigd-primary-radius: 16px;
$ccpigd-secondary-radius: 12px;
$ccpigd-radius-full: 100%;
$ccpigd-radius-zero: 0;

.ccpigd-section {
    margin-block: clamp(rem(50), 6.5vw, rem(80));

    p {
        color: $ccpigd-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $cc-white;
    }

    h1,
    h2 {
        @include font(30, 54, 120);
        text-transform: capitalize;
    }

    h3 {
        @include font(26, 44);
    }

    h4 {
        @include font(24, 34);
    }

    h5 {
        @include font(18, 24);
    }
    h6 {
        @include font(16, 22);
    }

    &.ccpigd-section-top {
        padding-top: calc(var(--header-height, 200px) + 30px) !important;
        
        @include minbp(lg) {
            padding-top: calc(var(--header-height, 200px) + 50px) !important;
        }

        &.cc-user-logged-in {
            @include maxbp(md) {
                padding-top: calc(var(--header-height, 200px) + 10px) !important;
            }
        }
    }
}

.ccpigd-container {
  width: 100%;
  max-width: rem(1370);
  margin: 0 auto;
  padding: 0 rem(25);
}

// Button Style 
  .ccpigd-btn-group {
    @extend .flex-center, .flex-wrap, .cc-relative;
    gap: rem(15) rem(10);
    z-index: 2;

    @include maxbp(xs) {
      flex-direction: column;
    }
  }

.ccpigd-btn {
    @extend .flex-center, .cc-transition;
    @include font(16, 20, 100);
    font-weight: 500;
    padding: rem(15) clamp(rem(10), 2vw, rem(30));
    gap: rem(10);
    border-style: solid;
    border-width: rem(1);
    border-radius: $ccpigd-secondary-radius;

    @include maxbp(xs) {
        width: 80%;
    }

    &.icon-right {
        flex-direction: row-reverse;
    }

    &.icon {
        @extend .cc-relative;

        &::before {
        content: "";
        width: 18px;
        aspect-ratio: 1;
        @extend .cc-mask-cover, .cc-transition;
        }
    }
    &.icon-wordpress {
        &::before {
        mask: url("../images/google-drive/wordpress.svg");
        }
    }
    &.icon-crown {
        &::before {
        mask: url("../images/google-drive/crown.svg");
        }
    }
    &.icon-shapes {
        &::before {
        mask: url("../images/google-drive/shapes.svg");
        }
    }
    &.icon-arrow {
        &::before {
        mask: url("../images/google-drive/arrow-right.svg");
        }
    }
    &.primary {
        color: $cc-white;
        background: $ccpigd-primary;
        border-color: $ccpigd-primary;

        &::before {
        background-color: $cc-white;
        }

        &:hover {
        color: $ccpigd-primary;
        background: $ccpigd-bg;
        border-color: $ccpigd-border;

        &::before {
            background-color: $ccpigd-primary;
        }
        }
    }
    &.secondary {
        color: $ccpigd-primary;
        background: $ccpigd-bg;
        border-color: $ccpigd-border;

        &::before {
        background-color: $ccpigd-primary;
        }

        &:hover {
        color: $cc-white;
        background: $ccpigd-primary;
        border-color: $ccpigd-primary;

        &::before {
            background-color: $cc-white;
        }
        }
    }
    &.white {
        color: $cc-white;
        
        &::before {
        background-color: $cc-white;
        }
    }
}

.ccpigd-title-tag {
  width: fit-content;
  margin-bottom: rem(10);

  @include minbp(lg) {
    margin-bottom: rem(20);
  }

  span {
    @include font(18, 24);
    font-weight: 600;
    color: $ccpigd-primary;
    text-transform: capitalize;
    margin: 0;
  }
}


// Google Drive Header Style start //
.ccpigd-header {
  padding-bottom: 0;

  .header-menu-wrap  {
    border: 1px solid $ccpigd-border;
    padding: 15px 25px;
    border-radius: $ccpigd-radius-zero;
    
    @include minbp(lg) {
        padding: 20px;
        border-radius: $ccpigd-primary-radius;
    }

    .logo-wrapper {

      .bars {

        span {
          background: $ccpigd-primary;;
        }
      }
    }
    .main-header-menu {
      @include maxbp(md) {
        background-color: #002003;
      }
      .main-menu {
  
        .menu-item {
          @include maxbp(md) {
            border-color: $ccpigd-border !important;
          }

          a {
            color: $cc-white;
  
            &:hover {
              color: $ccpigd-primary;
            }
            
            @include maxbp(1160) {
              font-size: 16px !important;
            }
            @include maxbp(md) {
              font-size: 18px !important;
            }
          }
  
          &.current-menu-item {
            a {
              color: $ccpigd-primary;
            }
          }
  
          &.ccpigd-header-btn {
            padding: 0 0 0 rem(10);
  
            @include maxbp(lg) {
              padding: 0;
            }
  
            a {
              @extend .cc-transition, .cc-relative, .flex-center;
              gap: 10px;
              color: $cc-white !important;
              background: $ccpigd-primary;
              padding: 11px 22px;
              border: 1px solid transparent;
              border-radius: $ccpigd-secondary-radius;
              font-family: $dm;
              font-weight: 500;
              @include font(18, 23);
  
              @include maxbp(1160) {
                padding: 8px 20px;
              }
  
              @include maxbp(md) {
                margin: 30px auto;
              }
  
              @include maxbp(xs) {
                width: 80%;
              }
  
              &:before {
                content: "";
                width: 24px;
                aspect-ratio: 1;
                mask: url(../images/google-drive/crown.svg);
                background: $cc-white;
                @extend .cc-transition, .cc-mask-cover;
  
                @include maxbp(1125) {
                  width: 20px;
                }
              }
  
              &:hover {
                background: $ccpigd-bg;
                color: $ccpigd-primary !important;
                border-color: $ccpigd-border;
  
                &:before {
                  background: $ccpigd-primary;
                }
              }
            }
          }
        }
      }
    }
  }
  &.sticky-bar {
    .header-menu-wrap {
      backdrop-filter: blur(20px);
    }
  }

  &.sticky-hero {
    .header-menu-wrap {
      background: $ccpigd-bg !important;
    }
  }

  @include maxbp(md) {
    padding-top: 0;

    .ccpigd-container {
      padding: 0;
    }
  }
}
// Logo style 
.igd-logos {

  .logo-divider {
    width: 1px;
    height: 22px;
    background: $cc-white;
  }

  a {
    @include font(20, 23, 120);
    font-weight: 500;

    img {
      width: rem(42);
      aspect-ratio: 1 /1;
    }

    &.ccp-google-drive-logo {
      gap: rem(10);

      @include minbp(md) {
        min-width: max-content;
      }

      .logo-label {
        span {
          color: $ccpigd-text;
          @include font(12, 16);
          font-weight: 400;
        }

        h6 {
          @include font(20, 22);
          margin: 0;
          background: radial-gradient(
            70.16% 212.6% at 29.84% -132.28%,
            #e1f2a6 0%,
            #15be7c 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
// Google Drive Header Style end //

// Footer style start 
.ccpigd-footer-cta {
  .ccpigd-container {
    .ccpigd-footer-cta-wrapper {
      overflow: hidden;
      padding: clamp(30px, 5vw, 80px);
      border: 1px solid $ccpigd-border;
      border-radius: $ccpigd-primary-radius;
      background-color: #00ac470d;
      background-image: url("/wp-content/themes/codeconfig/assets/images/google-drive/igd-cta-bg.svg");
      @extend .cc-bg-cover;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
          180deg,
          rgba(0, 21, 13, 0.2) 0%,
          #00150d 100%
        );
      }

      .section-title-box {
        padding-bottom: clamp(20px, 3vw, 40px);
        @extend .cc-relative;
        z-index: 1;
        width: 100%;
        max-width: 890px;
        margin: 0 auto;

        h3 {
          font-size: clamp(24px, 3vw, 44px);
          line-height: 120%;
        }
      }

      .ccpigd-btn-group {
        margin: 0 auto;
      }
    }
  }
}

.ccpigd-footer {

  .footer-bottom {
    background: $ccpigd-bg;
    border-top: 1px solid $ccpigd-border;

    .left-side {

      .logos {
        gap: 10px;
        padding-bottom: clamp(10px, 1.5vw, 30px);

        @include maxbp(md) {
          border-bottom: 1px solid $ccpigd-border;
        }

        a {

          &.ccp-google-drive-logo {

            .logo-label {
              display: block;
            }
          }
        }
        .logo-divider {
          background: $ccpigd-border;
        }
      }
    }

    .right-side {

      @include maxbp(md) {
        flex-wrap: wrap;
        row-gap: 30px;
      }

      @include maxbp(sm) {
        row-gap: 30px;
      }
      @include maxbp(xs) {
        row-gap: 20px;
      }
    }

    .footer-description {
      gap: 24px;

      @include maxbp(md) {
        display: none;
        width: 100%;
        align-items: center;
      }

      .description {
        width: 100%;
        border-bottom: 1px solid $ccpigd-border;
        padding-bottom: rem(20);

        @include minbp(lg) {
          max-width: 330px;
        }

        p {
          @include font(16, 16, 150);
          color: $cc-white;

          @include maxbp(md) {
            text-align: center;
          }
        }
      }
      .ratting-status {
        span {
          @insclude font(16, 16, 100);
          color: $cc-white;
          text-transform: capitalize;
          padding: 15px 20px;
          border: 1px solid $ccpigd-border;
          border-radius: $ccpigd-secondary-radius;
          gap: 5px;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            mask: url(../images/google-drive/wordpress.svg);
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
            background-color: $cc-white;
          }
        }
      }
    }
    .footer-description-optional {
      @include maxbp(md) {
        display: block;

        .footer-description {
          display: flex;
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }

    .footer-menu {
      h2 {
        color: #fff;
      }

      ul {
        li {

          a {
            color: #ffffff;

            &::after {
              background: $ccpigd-primary !important;
            }

            span {
              color: #ffffff;
            }
          }
        }
      }

      &.cc-products-menu {
        padding-bottom: 0 !important;
        ul {
          li {
            margin-bottom: clamp(16px, 1.8vw, 20px);
            a {
              @include font(20, 20);
              color: #ffffff;
              text-align: start;
            }
          }
        }
      }
    }
  }

  .copyright {
    .cc-scroll-top-btn {
      background: #001b0e;
      border: 1px solid $ccpigd-border;
      box-shadow: 0px 4px 20px 0px $ccpigd-border;

      &:hover {
        border: 1px solid $ccpigd-primary;
      }

      .scroll-top-btn-icon {
        background-color: $ccpigd-primary;
      }
    }

    .copyright-payment {
      border-color: $ccpigd-border;
      padding: 24px 0;

      h5,
      p {
        color: $cc-white;
        a {
          color: $ccpigd-primary;
        }
      }
      .payment-method {
        p {
          color: $cc-white;
        }
      }
    }
  }
}

// Free Download popup style start
.ccpigd-download-popup-section {
  background: rgba(0, 0, 0, .76);

  .ccp-download-popup {
    border-radius: clamp(8px, 1.8vw, 28px);
    background: rgba(0, 172, 71, .05);
    backdrop-filter: blur(100px);
    border: 1px solid rgba(0, 172, 71, .2);
    box-shadow: 5px 0 20px 10px rgba(0, 172, 71, .0509803922);

    .ccp-download-popup-content {

      h3,
      h4 {
        color: #ffffff;
      }
      p {
        color: rgba(240, 255, 246, .6980392157);
      }

      .free-downolad-form {

        span {
          color: #ffffff;
        }

        input[type="email"] {
          background: $ccpigd-bg;
          border: 1px solid $ccpigd-border;
          color: #ffffff;
          font-family: $dm;

          &::placeholder {
            color: #A8B9B1;
          }
        }

        input[type="submit"] {
          background: $ccpigd-primary;
          border: 1px solid $ccpigd-primary;
          color: #fff;

          &:hover {
            background: transparent;
            color: $ccpigd-primary;
          }
        }
        .wpcf7-response-output {
          color: #ffffff;
        }
      }
    }
    .ccp-popup-close {
      &:hover {
        &::before,
        &::after {
          box-shadow: 0px 0px 2px 1px #fff;
        }
      }
    }
  }
}
// free Download popup style end
// Footer style end


// Hero Section style //
.ccpigd-hero-section {
  padding-bottom: 0;
  z-index: 1;
  margin-top: 0 !important;

  @include maxbp(md) {
    &::before {
      height: 30vh;
      filter: opacity(0.5);
    }
  }
  @include maxbp(xs) {
    &::before {
      height: 15vh;
    }
  }

  .ccpigd-hero-section-bg {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
  }

  .ccpigd-watermark-logo {
    width: 40%;
    max-width: 360px;
    z-index: -1;

    &.igd-wp {
      bottom: 260px;
      left: 0;
    }
    &.igd-gd {
      bottom: 60px;
      right: 0;
    }
  }

  .ccpigd-hero-content-box {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding-bottom: clamp(5px, 1.5vw, 20px);

    .ccpigd-hero-sub-title {
      width: fit-content;
      margin: 0 auto 30px;
      @include font(16, 16, 150);
      color: $ccpigd-secondary;
      font-weight: 500;
      gap: 10px;
      padding: 10px 12px;
      background: $ccpigd-bg;
      border: 1px solid $ccpigd-border;
      border-radius: $ccpigd-secondary-radius;

      @include minbp(lg) {
        margin: 0 auto 20px;
      }

      img {
        max-width: 16px;
      }
    }
    h1 {
      margin-bottom: 30px;

      @include minbp(lg) {
        margin-bottom: 20px;
        padding: 0 10px;
        letter-spacing: -2px;
      }
    }
    .ccpigd-btn-group {
      padding-top: 20px;
    }
  }
  .ccpigd-hero-tab {
    @extend .cc-relative;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    z-index: 3;

    .ccpigd-tab-header {
      padding-bottom: 30px;

      @include maxbp(xs) {
        display: none;
      }

      .buttons {
        gap: 30px 2px;

        button {
          background: transparent;
          width: 124px;
          padding: 0 10px;
          gap: 10px;
          @extend .cc-relative;

          &:not(:last-child)::after {
            @extend .cc-absolute;
            content: "";
            width: 2px;
            height: calc(100% - 10px);
            right: 0;
            top: 5px;
            background: linear-gradient(
              180deg,
              rgba(0, 172, 71, 0.05) 0%,
              rgba(0, 172, 71, 0.2) 50%,
              rgba(0, 172, 71, 0.05) 100%
            );
          }

          .button-icon {
            @extend .cc-transition;
            width: clamp(30px, 3vw, 48px);
            aspect-ratio: 1;
            border: 1px solid $ccpigd-border;
            border-radius: $ccpigd-secondary-radius;
            background: radial-gradient(
              172.92% 172.92% at -38.54% -78.12%,
              rgba(0, 172, 71, 0.2) 0%,
              rgba(0, 172, 71, 0.05) 100%
            );

            img {
              width: clamp(18px, 2vw, 24px);
              aspect-ratio: 1;
            }
          }
          .button-text {
            @extend .cc-transition;
            font-weight: 400;
            @include font(16, 16, 140);
            color: $cc-white;
          }
          &.active,
          &:hover {
            .button-icon {
              box-shadow: 0px 0px 0px 4px #00ac4799;

              @include maxbp(md) {
                box-shadow: 0px 0px 0px 2px #00ac4799;
              }
            }
            .button-text {
              color: $ccpigd-primary;
            }
          }
        }
      }
    }
    .ccpigd-tab-body {
      .ccpigd-tab-content {
        padding: clamp(12px, 1.6vw, 20px) clamp(12px, 1.6vw, 20px) 0;
        background: $ccpigd-bg;
        border: 2px solid $ccpigd-border;
        border-radius: clamp(12px, 2vw, 28px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @extend .cc-transition, .cc-relative;

        &:after {
          position: absolute;
          content: "";
          width: calc(100% + 4px);
          height: 70%;
          bottom: -2px;
          left: -2px;
          background: linear-gradient(
            180deg,
            transparent 20%,
            rgba(0, 21, 13, 0.9333333333) 100%
          );
          z-index: 2;
          @extend .cc-transition;
        }

        .tab-image-wrapper {
          grid-column: 1/2;
          grid-row: 1/2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.7s ease-in-out;

          &.active {
            opacity: 1;
            visibility: visible;
          }

          img {
            width: 100%;
            border: 1px solid $ccpigd-border;
            border-radius: clamp(4px, 1vw, 16px);
            aspect-ratio: 16 / 9.6;
            object-fit: cover;
            object-position: center;
          }
        }
        &:hover {
          &::after {
            height: 16%;
          }
        }
      }
    }
  }
  &.ccpigd-home-hero {
    border-bottom: 2px solid $ccpigd-border;

    .ccpigd-hero-content-box {
      padding-bottom: clamp(50px, 4vw, 60px);

      h1 {
        font-size: clamp(36px, calc(18px + 3.7vw), 70px);
        line-height: clamp(44px, calc(28px + 3.7vw), 86px);
      }
    }
  }
}


// Google drive single feature page style start //
.ccpigd-single-feature-section {
  .ccpigd-row {
    column-gap: 22px;
    row-gap: 30px;
    padding-bottom: clamp(40px, 5vw, 80px);
    border-bottom: 2px solid $ccpigd-border;

    @include maxbp(md) {
      flex-wrap: wrap;
    }

    .content-box {
      width: 50%;

      @include maxbp(md) {
        width: 100%;
        text-align: center;
      }

      .ccpigd-hero-sub-title {
        
        @include minbp(lg){
          margin-left: 0;
        }
      }
      .ccpigd-btn-group {
        @include minbp(lg){
          justify-content: flex-start;
        }
      }
    }
    .image-box {
      width: 50%;

      @include maxbp(md) {
        width: 100%;
      }

      img {
        border-radius: clamp(6px, 1vw, 16px);
      }
    }
  }
}
.ccpigd-demo-feature {
  .demo-feature-list {
    gap: clamp(20px, 3vw, 35px);

    .demo-feature-item {
      width: 100%;
      padding: clamp(20px, 3vw, 40px);
      background: $ccpigd-bg;
      border: 1px solid $ccpigd-border;
      border-radius: clamp(10px, 2vw, 28px);

      .demo-feature-shortcode {
        margin-top: clamp(20px, 3.5vw, 50px);
        padding: clamp(20px, 2.2vw, 24px);
        background: #00150D;
        border: 1px solid $ccpigd-border;
        border-radius: clamp(4px, 1vw, 16px);

        .igd-feature-content {
          color: $ccpigd-text;

          ul,
          ol {
            color: currentColor;
            padding: 10px 0 10px clamp(30px, 3.5vw, 40px);
          }
          a {
            @extend .cc-transition;
            color: currentColor;
            text-decoration: underline;
            
            &:hover {
              color: $ccpigd-primary;
            }
          }
        }
      }
    }
  }
}


.ccpigd-faq {
  background: linear-gradient(
    180deg,
    rgba(0, 172, 71, 0.05) 0%,
    rgba(0, 172, 71, 0) 100%
  );
  padding: clamp(30px, 4vw, 60px) 0;


  .ccpigd-faq-wrapper {
    // gap: clamp(10px, 2vw, 24px);
    // padding-top: clamp(10px, 1.5vw, 20px);
  
    .ccpigd-faq-item {
      border: 1px solid $ccpigd-border;
      background: $ccpigd-bg;
      border-radius: $ccpigd-primary-radius;
  
      .ccpigd-faq-question {
        // display: grid;
        // padding: clamp(20px, 2.2vw, 24px);
        // grid-template-columns: 1fr 30px;
        // background: transparent;
        // width: 100%;
        // text-align: left;
  
        h4 {
          color: $cc-white;
  
          span {
            color: $ccpigd-primary;
          }
        }
        .ccpigd-dropdown-arrow {
  
          &::after,
          &::before {
            background: $ccpigd-secondary;
          }

        }
      }
  
      .ccpigd-faq-answer {
        
        p {
          color: #CFE3DA;
        }
  
        a {
          &:hover {
            color: $ccpigd-primary;
          }
        }
      }
  
      &.accordion-active {
        .ccpigd-dropdown-arrow {
          &::after,
          &::before {
            background: $ccpigd-primary;
          }
        }
      }
    }
  }
}
