@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/DMSans-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/DMSans-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/DMSans-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (min-width: 0px) {
  .col-xs-1 {
    grid-column: span 1;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1025px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1281px) {
  .col-xl-1 {
    grid-column: span 1;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1441px) {
  .col-2xl-1 {
    grid-column: span 1;
  }
  .col-2xl-2 {
    grid-column: span 2;
  }
  .col-2xl-3 {
    grid-column: span 3;
  }
  .col-2xl-4 {
    grid-column: span 4;
  }
  .col-2xl-5 {
    grid-column: span 5;
  }
  .col-2xl-6 {
    grid-column: span 6;
  }
  .col-2xl-7 {
    grid-column: span 7;
  }
  .col-2xl-8 {
    grid-column: span 8;
  }
  .col-2xl-9 {
    grid-column: span 9;
  }
  .col-2xl-10 {
    grid-column: span 10;
  }
  .col-2xl-11 {
    grid-column: span 11;
  }
  .col-2xl-12 {
    grid-column: span 12;
  }
}
.d-flex, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a, .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.d-block {
  display: block;
}

.d-block-inline {
  display: inline-block;
}

.d-none, .codeconfig-header .header-menu-wrap .main-header-menu.full-mobile-menu .mobile-logo {
  display: none;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu, .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-auto {
  align-self: auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.flex-center, .ccpigd-btn-group, .ccpigd-btn, .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a .image-wrapper, .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a:before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap, .ccpigd-btn-group {
  flex-wrap: wrap;
}

.cc-transition, .ccpigd-btn, .ccpigd-btn.icon::before, .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a, .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:before, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item a, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children::after, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu::before, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a::after, body #cc-header, .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
  transition: all 0.3s ease-in-out;
}

.cc-relative, .ccpigd-btn-group, .ccpigd-btn.icon, .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu, .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a, .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
  position: relative;
}

.cc-absolute {
  position: absolute;
}

.cc-fixed {
  position: fixed;
}

.cc-sticky {
  position: sticky;
}

.cc-italic {
  font-style: italic;
}

.cc-uppercase {
  text-transform: uppercase;
}

.cc-lowercase {
  text-transform: lowercase;
}

.cc-capitalize {
  text-transform: capitalize;
}

.cc-mask-cover, .ccpigd-btn.icon::before, .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:before {
  -webkit-mask-size: cover !important;
          mask-size: cover !important;
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
}

.cc-bg-cover {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media (min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-tab {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .text-center-mobile {
    text-align: center;
    justify-content: center;
  }
}

/* #####################################
*          BASE SETTINGS
* ##################################### 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #3c4770;
}

/* #####################################
*          TYPOGRAPHY SETTINGS
* ##################################### 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: clamp(1.875rem, 1.25vw + 1.625rem, 2.75rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.875rem, 1.25vw + 1.625rem, 2.75rem);
  line-height: 1.1;
}

h3 {
  font-size: clamp(1.625rem, 0.8928571429vw + 1.4464285714rem, 2.25rem);
  line-height: 1.1;
}

h4 {
  font-size: clamp(1.25rem, 0.8928571429vw + 1.0714285714rem, 1.875rem);
  line-height: 1.1;
}

h5 {
  font-size: clamp(1.125rem, 0.7142857143vw + 0.9821428571rem, 1.625rem);
  line-height: 1.1;
}

h6 {
  font-size: clamp(1rem, 0.7142857143vw + 0.8571428571rem, 1.5rem);
  line-height: 1.1;
}

p {
  font-size: clamp(1rem, 1.0714285714vw + 0.7857142857rem, 1.75rem);
  line-height: 1.6;
}
p + p {
  margin-top: 1.25rem;
}
p a {
  color: #0061fe;
  text-decoration: underline;
}
p a:hover {
  color: #000d23;
}

a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: currentColor;
  cursor: pointer;
  transition: all 0.3s ease;
}
a:hover {
  color: #0061fe;
}

.container {
  width: 100%;
  max-width: 83.125rem;
  padding-inline: 25px;
  margin-inline: auto;
}

.codeconfig-header {
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: transparent;
}
@media (max-width: 575px) {
  .codeconfig-header {
    padding: 22px 0;
  }
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .logo-wrapper {
    width: 100%;
  }
  .codeconfig-header .header-menu-wrap .logo-wrapper .bars {
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 99;
  }
  .codeconfig-header .header-menu-wrap .logo-wrapper .bars span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .codeconfig-header .header-menu-wrap .logo-wrapper .bars span:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu {
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    top: 0;
    right: calc(-100% - 25px);
    z-index: 1;
    padding: 20px 25px 40px;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .mobile-logo {
  padding: 0 40px 20px 0;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu {
  gap: 10px;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu {
    max-height: calc(100vh - 180px);
    overflow-y: scroll;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding-bottom: 10px !important;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item {
  list-style: none;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item {
    width: 100%;
    flex-direction: column;
  }
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item:not(:last-child) {
    border-bottom: 1px solid transparent;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item a {
  padding: 10px;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item a {
    padding: 10px 7px;
  }
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 10px 15px 0;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: 2px;
  border-right: 2px;
  border-style: solid;
  transform: rotate(45deg);
  top: 13px;
  right: 10px;
  transform-origin: 56% 76%;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children::after {
    top: 18px;
  }
}
@media (min-width: 1025px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children a {
    padding-right: 27px;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
}
@media (min-width: 1025px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu {
    position: absolute;
    top: 42px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu {
    display: none;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  right: calc(50% - 15px);
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu::before {
    display: none;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item {
  border: 0;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a {
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  width: 100%;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a {
    width: 100%;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 10px;
  opacity: 0;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a:hover::after {
  opacity: 0.04;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a span {
  width: 50%;
  flex-grow: 1;
  font-size: clamp(1.125rem, 0.3571428571vw + 1.0535714286rem, 1.375rem);
  line-height: 1.5;
  font-weight: 600;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a span small {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
  color: #3c4770;
  display: inline-block;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a span small {
    display: block;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul.limited-menu-item li.menu-item {
  width: 100%;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children.active-dopdown-menu {
  border-bottom: 0;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children.active-dopdown-menu::after {
  transform: rotate(223deg);
}
@media (min-width: 1025px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children:hover::after {
    transform: rotate(223deg);
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1025px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children:hover .dropdown-menu::before {
    top: -10px;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.one-column-menu .dropdown-menu {
  width: -moz-max-content;
  width: max-content;
  max-width: 660px;
}
@media (min-width: 1025px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.two-column-menu .dropdown-menu {
    width: -moz-max-content;
    width: max-content;
    max-width: 760px;
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.two-column-menu .dropdown-menu .megamenu-column ul {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.two-column-menu .dropdown-menu .megamenu-column ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.two-column-menu .dropdown-menu .megamenu-column ul li.menu-item {
  width: 100%;
}
.codeconfig-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.two-column-menu .dropdown-menu:has(.megamenu-column-1) .megamenu-column ul li.menu-item a {
  align-items: center;
}
.codeconfig-header .header-menu-wrap .main-header-menu.full-mobile-menu {
  max-width: 100%;
  height: inherit;
  top: calc(var(--only-header-height) - 2px);
}
@media (max-width: 575px) {
  .codeconfig-header .header-menu-wrap .main-header-menu.full-mobile-menu {
    height: 100vh;
  }
}
@media (max-width: 1024px) {
  .codeconfig-header.ccp-mobile-menu-active .logo-wrapper .bars span:first-child {
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
  }
  .codeconfig-header.ccp-mobile-menu-active .logo-wrapper .bars span:nth-child(2) {
    opacity: 0;
  }
  .codeconfig-header.ccp-mobile-menu-active .logo-wrapper .bars span:last-child {
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
  }
  .codeconfig-header.ccp-mobile-menu-active .main-header-menu {
    right: 0;
  }
}

.logos {
  gap: clamp(10px, 1.1vw, 18px);
}

.cc-blog-reading-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  z-index: 999;
  border-radius: 0 20px 20px 0;
  background: #0061fe;
}
@media (max-width: 1024px) {
  .cc-blog-reading-progress-bar {
    height: 1px;
  }
}

body #cc-header {
  top: var(--header-top-space, 30px) !important;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 99;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
body #cc-header.sticky-bar, body #cc-header.sticky-hero, body #cc-header.ccp-mobile-menu-active {
  transform: translateY(0) !important;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 600px) {
  body #cc-header.sticky-bar, body #cc-header.sticky-hero, body #cc-header.ccp-mobile-menu-active {
    z-index: 999;
  }
}
@media (max-width: 600px) {
  body:has(.sticky):has(#wpadminbar):has(#countDownTimerSection) #cc-header {
    top: calc(var(--header-announce-height) - var(--only-header-height)) !important;
  }
  body:has(.sticky):has(#wpadminbar):has(#countDownTimerSection) #countDownTimerSection {
    top: 0 !important;
  }
  body:has(.sticky) #cc-header {
    top: 0 !important;
  }
}

.cc-header {
  background-color: rgba(255, 255, 255, 0);
}
@media (max-width: 575px) {
  .cc-header .header-menu-wrap .logo-wrapper .cc-logo {
    width: max(50%, 150px);
  }
}
@media (max-width: 1024px) {
  .cc-header .header-menu-wrap .logo-wrapper .bars span {
    background: #0061fe;
  }
}
@media (max-width: 1024px) {
  .cc-header .header-menu-wrap .main-header-menu {
    background: #fff;
    box-shadow: 4px 4px 30px 0px rgba(224, 245, 255, 0.6980392157);
  }
}
@media (max-width: 1024px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item {
    border-color: #e0f5ff !important;
  }
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item a {
  color: #000d23;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.current-menu-item a {
  color: #0061fe;
}
@media (min-width: 1025px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item:hover a {
    color: #0061fe;
  }
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn {
  padding-left: 35px;
}
@media (max-width: 1280px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn {
    padding-left: 10px;
  }
}
@media (max-width: 1024px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn {
    padding-left: 0;
  }
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
  background: #0061fe;
  font-size: 1.0625rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 6px 14px 6px 6px;
  gap: 10px;
  border-radius: 30px;
  color: #fff !important;
}
@media (max-width: 1024px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a {
    margin: 20px auto;
  }
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a:hover {
  background: #002abd;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.contact-btn a:before {
  content: url(./../images/microphone-icon.svg);
  width: 30px;
  aspect-ratio: 1/1;
  line-height: 0;
  border-radius: 100px;
  background: #fff;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children::after {
  border-color: #000d23;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu {
  box-shadow: 4px 4px 30px 0px rgba(224, 245, 255, 0.6980392157);
}
@media (min-width: 1025px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu {
    background: #ffffff;
  }
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu::before {
  border-bottom: 15px solid #e0f5ff;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a {
  border: 1px solid #e0f5ff;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a::after {
  background: var(--product-color);
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a span {
  color: var(--product-color);
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children .dropdown-menu .megamenu-column ul li.menu-item a span small {
  color: #3c4770;
}
.cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children.active-dopdown-menu::after {
  border-color: #476df4;
}
@media (min-width: 1025px) {
  .cc-header .header-menu-wrap .main-header-menu .main-menu li.menu-item.menu-item-has-children:hover::after {
    border-color: #476df4;
  }
}
.cc-header.sticky {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.7019607843);
  border-color: #e0f5ff;
}

.ccpigd-section {
  margin-inline: clamp(3.125rem, 6.5vw, 5rem);
}
.ccpigd-section p {
  color: rgba(240, 255, 246, 0.6980392157);
}
.ccpigd-section h1,
.ccpigd-section h2,
.ccpigd-section h3,
.ccpigd-section h4,
.ccpigd-section h5,
.ccpigd-section h6 {
  color: #ffffff;
}
.ccpigd-section h1,
.ccpigd-section h2 {
  font-size: clamp(1.875rem, 2.1428571429vw + 1.4464285714rem, 3.375rem);
  line-height: 1.1;
  text-transform: capitalize;
}
.ccpigd-section h3 {
  font-size: clamp(1.625rem, 1.6071428571vw + 1.3035714286rem, 2.75rem);
  line-height: 1.1;
}
.ccpigd-section h4 {
  font-size: clamp(1.5rem, 0.8928571429vw + 1.3214285714rem, 2.125rem);
  line-height: 1.1;
}
.ccpigd-section h5 {
  font-size: clamp(1.125rem, 0.5357142857vw + 1.0178571429rem, 1.5rem);
  line-height: 1.1;
}
.ccpigd-section h6 {
  font-size: clamp(1rem, 0.5357142857vw + 0.8928571429rem, 1.375rem);
  line-height: 1.1;
}
.ccpigd-section.ccpigd-section-top {
  padding-top: calc(var(--header-height, 200px) + 30px) !important;
}
@media (min-width: 1025px) {
  .ccpigd-section.ccpigd-section-top {
    padding-top: calc(var(--header-height, 200px) + 50px) !important;
  }
}
@media (max-width: 1024px) {
  .ccpigd-section.ccpigd-section-top.cc-user-logged-in {
    padding-top: calc(var(--header-height, 200px) + 10px) !important;
  }
}

.ccpigd-container {
  width: 100%;
  max-width: 85.625rem;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

.ccpigd-btn-group {
  gap: 0.9375rem 0.625rem;
  z-index: 2;
}
@media (max-width: 575px) {
  .ccpigd-btn-group {
    flex-direction: column;
  }
}

.ccpigd-btn {
  font-size: 20;
  font-weight: 500;
  padding: 0.9375rem clamp(0.625rem, 2vw, 1.875rem);
  gap: 0.625rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 12px;
}
@media (max-width: 575px) {
  .ccpigd-btn {
    width: 80%;
  }
}
.ccpigd-btn.icon-right {
  flex-direction: row-reverse;
}
.ccpigd-btn.icon::before {
  content: "";
  width: 18px;
  aspect-ratio: 1;
}
.ccpigd-btn.icon-wordpress::before {
  -webkit-mask: url("../images/google-drive/wordpress.svg");
          mask: url("../images/google-drive/wordpress.svg");
}
.ccpigd-btn.icon-crown::before {
  -webkit-mask: url("../images/google-drive/crown.svg");
          mask: url("../images/google-drive/crown.svg");
}
.ccpigd-btn.icon-shapes::before {
  -webkit-mask: url("../images/google-drive/shapes.svg");
          mask: url("../images/google-drive/shapes.svg");
}
.ccpigd-btn.primary {
  color: #ffffff;
  background: #00ac47;
  border-color: #00ac47;
}
.ccpigd-btn.primary::before {
  background-color: #ffffff;
}
.ccpigd-btn.primary:hover {
  color: #00ac47;
  background: rgba(0, 172, 71, 0.0509803922);
  border-color: rgba(0, 172, 71, 0.2);
}
.ccpigd-btn.primary:hover::before {
  background-color: #00ac47;
}
.ccpigd-btn.secondary {
  color: #00ac47;
  background: rgba(0, 172, 71, 0.0509803922);
  border-color: rgba(0, 172, 71, 0.2);
}
.ccpigd-btn.secondary::before {
  background-color: #00ac47;
}
.ccpigd-btn.secondary:hover {
  color: #ffffff;
  background: #00ac47;
  border-color: #00ac47;
}
.ccpigd-btn.secondary:hover::before {
  background-color: #ffffff;
}
.ccpigd-btn.white {
  color: #ffffff;
}
.ccpigd-btn.white::before {
  background-color: #ffffff;
}

.ccpigd-title-tag {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.625rem;
}
@media (min-width: 1025px) {
  .ccpigd-title-tag {
    margin-bottom: 1.25rem;
  }
}
.ccpigd-title-tag span {
  font-size: clamp(1.125rem, 0.5357142857vw + 1.0178571429rem, 1.5rem);
  line-height: 1.1;
  font-weight: 600;
  color: #00ac47;
  text-transform: capitalize;
  margin: 0;
}

.ccpigd-header {
  padding-bottom: 0;
}
.ccpigd-header .header-menu-wrap {
  border: 1px solid rgba(0, 172, 71, 0.2);
  padding: 15px 25px;
  border-radius: 0;
}
@media (min-width: 1025px) {
  .ccpigd-header .header-menu-wrap {
    padding: 20px;
    border-radius: 16px;
  }
}
.ccpigd-header .header-menu-wrap .logo-wrapper .bars span {
  background: #00ac47;
}
@media (max-width: 1024px) {
  .ccpigd-header .header-menu-wrap .main-header-menu {
    background-color: #002003;
  }
}
@media (max-width: 1024px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item {
    border-color: rgba(0, 172, 71, 0.2) !important;
  }
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item a {
  color: #ffffff;
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item a:hover {
  color: #00ac47;
}
@media (max-width: 1160px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item a {
    font-size: 16px !important;
  }
}
@media (max-width: 1024px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item a {
    font-size: 18px !important;
  }
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.current-menu-item a {
  color: #00ac47;
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn {
  padding: 0 0 0 0.625rem;
}
@media (max-width: 1280px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn {
    padding: 0;
  }
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a {
  gap: 10px;
  color: #ffffff !important;
  background: #00ac47;
  padding: 11px 22px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 0.5357142857vw + 1.0178571429rem, 1.5rem);
  line-height: 1.1;
}
@media (max-width: 1160px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a {
    padding: 8px 20px;
  }
}
@media (max-width: 1024px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a {
    margin: 30px auto;
  }
}
@media (max-width: 575px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a {
    width: 80%;
  }
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:before {
  content: "";
  width: 24px;
  aspect-ratio: 1;
  -webkit-mask: url(../images/google-drive/crown.svg);
          mask: url(../images/google-drive/crown.svg);
  background: #ffffff;
}
@media (max-width: 1125px) {
  .ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:before {
    width: 20px;
  }
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:hover {
  background: rgba(0, 172, 71, 0.0509803922);
  color: #00ac47 !important;
  border-color: rgba(0, 172, 71, 0.2);
}
.ccpigd-header .header-menu-wrap .main-header-menu .main-menu .menu-item.ccpigd-header-btn a:hover:before {
  background: #00ac47;
}
.ccpigd-header.sticky-bar .header-menu-wrap {
  backdrop-filter: blur(20px);
}
.ccpigd-header.sticky-hero .header-menu-wrap {
  background: rgba(0, 172, 71, 0.0509803922) !important;
}
@media (max-width: 1024px) {
  .ccpigd-header {
    padding-top: 0;
  }
  .ccpigd-header .ccpigd-container {
    padding: 0;
  }
}

.igd-logos .logo-divider {
  width: 1px;
  height: 22px;
  background: #ffffff;
}
.igd-logos a {
  font-size: clamp(1.25rem, 0.2678571429vw + 1.1964285714rem, 1.4375rem);
  line-height: 1.2;
  font-weight: 500;
}
.igd-logos a img {
  width: 2.625rem;
  aspect-ratio: 1/1;
}
.igd-logos a.ccp-google-drive-logo {
  gap: 0.625rem;
}
@media (min-width: 768px) {
  .igd-logos a.ccp-google-drive-logo {
    min-width: -moz-max-content;
    min-width: max-content;
  }
}
.igd-logos a.ccp-google-drive-logo .logo-label span {
  color: rgba(240, 255, 246, 0.6980392157);
  font-size: clamp(0.75rem, 0.3571428571vw + 0.6785714286rem, 1rem);
  line-height: 1.1;
  font-weight: 400;
}
.igd-logos a.ccp-google-drive-logo .logo-label h6 {
  font-size: clamp(1.25rem, 0.1785714286vw + 1.2142857143rem, 1.375rem);
  line-height: 1.1;
  background: radial-gradient(70.16% 212.6% at 29.84% -132.28%, #e1f2a6 0%, #15be7c 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=main.css.map */
