$base-font-size: 16 !default;

// Colors
$cc-primary: #0061fe;
$cc-secondary: #000d23;
$cc-text: #3c4770;
$cc-border: #e0f5ff;
// $cc-bg-color: #f5f5f5;
$cc-white: #ffffff;
$cc-black: #000000;
$cc-warning: #ff0000;



// igd Variables
$ccpigd-primary: #00ac47;
$ccpigd-secondary: #e1f2a6;
$ccpigd-text: #f0fff6b2;
$ccpigd-bg: #00ac470d;
$ccpigd-border: #00ac4733;

$ccpigd-primary-radius: 16px;
$ccpigd-secondary-radius: 12px;
$ccpigd-radius-full: 100%;
$ccpigd-radius-zero: 0;


// Typography
$dm: 'DM Sans', sans-serif;

