@use "variables" as *;
@use "mixins" as *;
@use "utilities" as *;

/* #####################################
*          BASE SETTINGS
* ##################################### 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-family: $dm;
}

body {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: $cc-text;
}
button {
  cursor: pointer;
  font-family: $dm;
}
img,
svg {
  width: 100%;
  height: auto
}

/* #####################################
*          TYPOGRAPHY SETTINGS
* ##################################### 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: rem(20);
  font-family: $dm;
}

h1 {
  @include font(30, 44);
}
h2 {
  @include font(30, 44);
}
h3 {
  @include font(26, 36);
}
h4 {
  @include font(20, 30);
}
h5 {
  @include font(18, 26);
}
h6 {
  @include font(16, 24);
}

p {
  @include font(16, 16, 160);

  & + p {
    margin-top: rem(20);
  }

  a {
    color: $cc-primary;

    &:hover {
      color: $cc-secondary;
    }
  }
}
a {
  text-decoration: none;
  font-family: $dm;
  color: currentColor;
  cursor: pointer;
  @include transition;

  &:hover {
    color: $cc-primary;
  }
}
.container {
  width: 100%;
  max-width: rem(1330);
  padding-inline: 25px;
  margin-inline: auto;
}

// Animation start 
@keyframes cc-scroll-button-animation {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }

  100% {
    transform: translate(0, -10px);
    opacity: 1;
  }
}

// Animation end

.cc-per-capsule {
  @extend .cc-absolute;
  width: 20px;
  height: 10px;
  border-radius: 100px;
  transform: rotate(35deg);

  &.color-pink {
    background: radial-gradient(
      77.5% 77.5% at 55.83% 20%,
      #f2ccfe 0%,
      #d650ff 100%
    );
  }
}

.cc-per-triangle {
  z-index: 1;
  @extend .cc-absolute;
  width: 16px;
  height: 15px;
  mask: url("./../images/cc-per-triangle.svg");
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;

  &.color-pink {
    background: radial-gradient(
      72.22% 72.22% at 57% 27.78%,
      #fff7ff 0%,
      #ff84fd 100%
    );
  }

  &.color-pink-deep {
    background: radial-gradient(
      72.22% 72.22% at 57% 27.78%,
      #fff7ff 0%,
      #ff49fc 100%
    );
  }
}

.cc-per-star {
  z-index: -1;
  @extend .cc-absolute;
  width: 16px;
  height: 16px;
  mask: url("./../images/cc-per-star.svg");
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;

  &.color-blue {
    background: radial-gradient(
      68.75% 68.75% at 59.38% 31.25%,
      #c5dbff 0%,
      #5a99ff 100%
    );
  }
}

.cc-per-circle {
  @extend .cc-absolute;
  width: 15px;
  height: 15px;
  border-radius: 100px;

  &.color-blue {
    background: radial-gradient(
      77.5% 77.5% at 55.83% 20%,
      #ffffff 0%,
      #00bbff 100%
    );
  }

  &.color-yellow {
    background: radial-gradient(
      77.5% 77.5% at 55.83% 20%,
      #ffffff 0%,
      #ff9000 100%
    );
  }
}

.wordpress-watermark-logo {
  @extend .cc-absolute;
  mask: url(./../images/wordpress-watermark-logo.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  background: #fff;
}

.codeconfig-watermark-logo {
  @extend .cc-absolute;
  mask: url(./../images/codeconfig-watermark-logo.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  background: #fff;
}


.cc-btn {
    @extend .flex-center, .cc-transition;
    font-size: clamp(16, 20, 100);
    font-weight: 500;
    padding: rem(15) clamp(rem(10), 2vw, rem(30));
    gap: rem(10);
    border-style: solid;
    border-width: rem(1);
    border-radius: rem(100);

    @include maxbp(xs) {
        width: 80%;
    }

    &.icon-right {
        flex-direction: row-reverse;
    }

    &.icon {
        @extend .cc-relative;

        &::before {
        content: "";
        width: 18px;
        aspect-ratio: 1;
        @extend .cc-mask-cover, .cc-transition;
        }
    }
    &.icon-wordpress {
        &::before {
        mask: url("../images/google-drive/wordpress.svg");
        }
    }
    &.icon-crown {
        &::before {
        mask: url("../images/google-drive/crown.svg");
        }
    }
    &.icon-shapes {
        &::before {
        mask: url("../images/google-drive/shapes.svg");
        }
    }
    &.icon-window {
        &::before {
        mask: url("../images/explore-products-icon.svg");
        }
    }
    &.icon-arrow {
        &::before {
        mask: url("../images/google-drive/arrow-right.svg");
        }
    }

    &.primary {
        color: $cc-white;
        background: $cc-primary;
        border-color: $cc-primary;

        &::before {
        background-color: $cc-white;
        }

        &:hover {
        color: $cc-primary;
        background: $cc-white;

        &::before {
            background-color: $cc-primary;
        }
        }
    }
    &.secondary {
        color: $cc-primary;
        background: $cc-white;
        border-color: $cc-primary;

        &::before {
        background-color: $cc-primary;
        }

        &:hover {
        color: $cc-white;
        background: $cc-primary;

        &::before {
            background-color: $cc-white;
        }
        }
    }
    &.white {
      color: $cc-black;
      background: $cc-white;
      border-color: $cc-white;
      
      &::before {
        background-color: $cc-black;
      }

      &:hover {
        color: $cc-white;
        background: $cc-black;
        border-color: $cc-black;
        
        &::before {
          background-color: $cc-white;
        }
      }
    }
}


// Faq Section Global
.ccpigd-faq-wrapper {
  gap: clamp(10px, 2vw, 24px);
  padding-top: clamp(10px, 1.5vw, 20px);

  .ccpigd-faq-item {
    border: 1px solid $cc-border;
    background: $cc-white;
    border-radius: clamp(4px, 1vw, 16px);
    interpolate-size: allow-keywords; // For smoth animation 

    .ccpigd-faq-question {
      cursor: pointer;
      display: grid;
      padding: clamp(20px, 2.2vw, 24px);
      grid-template-columns: 1fr 30px;
      background: transparent;
      width: 100%;
      text-align: left;

      h4 {
        color: $cc-black;
        font-size: clamp(16px, 2vw, 22px);
        line-height: clamp(20px, 2.4vw, 26px);
        font-weight: 500;
        margin: 0;

        span {
          color: $cc-primary;
          padding-right: 8px;
          font-weight: 700;

          @include maxbp(sm) {
            padding-right: 5px;
          }
        }
      }
      .ccpigd-dropdown-arrow {
        justify-self: end;
        width: 20px;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 12px;
          background: $cc-primary;
          border-radius: 5px;
          transition: all 0.3s ease;
        }

        &::before {
          right: 5px;
          transform: rotate(45deg);
        }

        &::after {
          left: 5px;
          transform: rotate(-45deg);
        }
      }
    }

    .ccpigd-faq-answer {
      padding: clamp(20px, 2.2vw, 24px);
      padding-top: 0;
      height: 0;
      padding-bottom: 0;
      overflow: hidden;
      transition: all 0.3s ease;

      p {
        color: $cc-text;
        font-size: clamp(16px, 1.7vw, 18px);
        line-height: 160%;
      }

      ul,
      ol {
        padding: 10px 0 10px clamp(30px, 3.5vw, 40px);
        color: currentColor;
      }

      a {
        color: currentColor;
        text-decoration: underline;
        transition: all 0.3s ease;

        &:hover {
          color: $cc-primary;
        }
      }
    }

    &.accordion-active {
      .ccpigd-dropdown-arrow {
        &::after,
        &::before {
          background: $cc-primary;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }

      .ccpigd-faq-answer {
        height: auto;
        padding-bottom: clamp(20px, 2.2vw, 24px);
      }
    }
  }
}