@use "variables" as *;
@use "mixins" as *;
@use "base" as *;
@use "utilities" as *;



.codeconfig-header {
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: transparent;

  @include maxbp(xs) {
    padding: 22px 0;
  }

  .header-menu-wrap {
    .logo-wrapper {
      @include maxbp(md) {
        width: 100%;

        .bars {
          width: 30px;
          height: 22px;
          cursor: pointer;
          z-index: 99;

          span {
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .main-header-menu {

      @include maxbp(md) {
        position: absolute;
        width: 100%;
        max-width: 500px;
        height: 100vh;
        top: 0;
        right: calc(-100% - 25px);
        z-index: 1;
        padding: 20px 25px 40px;
      }

      .mobile-logo {
        padding: 0 40px 20px 0
      }
      
      .main-menu {
        @extend .d-flex, .align-center;
        gap: 10px;
        
        @include maxbp(md) {
          max-height: calc(100vh - 180px);
          overflow-y: scroll;
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          padding-bottom: 10px !important;
        }
  
  
  
        li.menu-item {
          list-style: none;
          @extend .d-flex, .justify-center;
  
          @include maxbp(md) {
            width: 100%;
            flex-direction: column;
  
            &:not(:last-child) {
              border-bottom: 1px solid transparent;
            }
          }
  
          a {
            padding: 10px;
            @include font(18, 18, 120);
            font-weight: 400;
            @extend .cc-transition;
  
            @include maxbp(1200) {
              padding: 10px 7px;
            }
  
            @include maxbp(md) {
              width: fit-content;
              padding: 15px 10px 15px 0;
            }
          }
  
          // Dropdown start
          &.menu-item-has-children {
            @extend .cc-relative;
  
            &::after {
              position: absolute;
              content: "";
              width: 8px;
              height: 8px;
              border: 0;
              border-bottom: 2px;
              border-right: 2px;
              border-style: solid;
              transform: rotate(45deg);
              top: 13px;
              right: 10px;
              transform-origin: 56% 76%;
              @extend .cc-transition;
  
              @include maxbp(md) {
                top: 18px;
              }
            }
  
            a {
              @include minbp(lg) {
                padding-right: 27px;
              }
            }
  
            .dropdown-menu {
              width: 100%;
              padding: 20px;
              border-radius: 16px;
              @extend .cc-relative;
  
              @include minbp(lg) {
                position: absolute;
                top: 42px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
              }
  
              @include maxbp(md) {
                display: none;
              }
  
              &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                right: calc(50% - 15px);
                top: 0;
                -webkit-transition: 0.3s;
                transition: all 0.3s ease 0s;
                z-index: -1;
                @extend .cc-transition;
  
                @include maxbp(md) {
                  display: none;
                }
              }
  
              .megamenu-column {
                ul {
                  // @extend .d-flex, .flex-wrap;
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                  gap: 16px;
  
                  li.menu-item {
                    border: 0;
  
                    a {
                      gap: 10px;
                      padding: 15px;
                      border-radius: 10px;
                      z-index: 1;
                      @extend .d-flex, .cc-relative, .cc-transition;
                      width: 100%;
  
                      @include maxbp(md) {
                        width: 100%;
                      }
  
                      &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        border-radius: 10px;
                        opacity: 0;
                        @extend .cc-transition;
                      }
  
                      &:hover {
                        &::after {
                          opacity: 0.04;
                        }
                      }
  
                      .image-wrapper {
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        @extend .flex-center;
                      }
  
                      span {
                        width: 50%;
                        flex-grow: 1;
                        @include font(18, 22, 150);
                        font-weight: 600;

                        small {
                          @include font(12, 12, 150);
                          font-weight: 400;
                          color: $cc-text;
                          display: inline-block;
                          margin-top: 10px;
  
                          @include maxbp(md) {
                            display: block;
                          }
                        }
                      }
                    }
                  }
  
                  &.limited-menu-item {
                    li.menu-item {
                      width: 100%;
                    }
                  }
                }
              }
            }
  
            &.active-dopdown-menu {
              border-bottom: 0;
  
              &::after {
                transform: rotate(223deg);
              }
            }
  
            &:hover {
              &::after {
                @include minbp(lg) {
                  transform: rotate(223deg);
                }
              }
  
              .dropdown-menu {
                opacity: 1;
                visibility: visible;
  
                &::before {
                  @include minbp(lg) {
                    top: -10px;
                  }
                }
              }
            }
          }
  
          &.one-column-menu {
            .dropdown-menu {
              width: max-content;
              max-width: 660px;
            }
          }
  
          &.two-column-menu {
            .dropdown-menu {
              @include minbp(lg) {
                width: max-content;
                max-width: 760px;
              }
  
              .megamenu-column {
                ul {
                  grid-template-columns: repeat(2, 1fr);
  
                  @include maxbp(sm) {
                    grid-template-columns: repeat(1, 1fr);
                  }
  
                  li {
                    &.menu-item {
                      width: 100%;
                    }
                  }
                }
              }
  
              &:has(.megamenu-column-1) {
                .megamenu-column {
                  ul {
                    li {
                      &.menu-item {
                        a {
                          align-items: center;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
  
          // Dropdown end
        }
      }

      &.full-mobile-menu {
        max-width: 100%;
        height: inherit;
        top: calc(var(--only-header-height) - 2px);

        @include maxbp(xs) {
          height: 100vh;
        }

        .mobile-logo {
          @extend .d-none;
        }
      }
    }
  }

  &.ccp-mobile-menu-active {
    @include maxbp(md) {
      .logo-wrapper {
        .bars {
          span {
            &:first-child {
              transform: rotate(45deg);
              position: absolute;
              top: 10px;
            }
          }

          span {
            &:nth-child(2) {
              opacity: 0;
            }
          }

          span {
            &:last-child {
              transform: rotate(-45deg);
              position: absolute;
              top: 10px;
            }
          }
        }
      }

      .main-header-menu {
        right: 0;
      }
    }
  }
}
.logos {
  gap: clamp(10px, 1.1vw, 18px);
}

.cc-blog-reading-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  z-index: 999;
  border-radius: 0 20px 20px 0;
  background: $cc-primary;

  @include maxbp(md) {
    height: 1px;
  }
}

// Sticky style for mobile if Login
body {
  #cc-header {
    top: var(--header-top-space, 30px) !important;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    @extend .cc-transition;

    &.sticky-bar,
    &.sticky-hero,
    &.ccp-mobile-menu-active {
      transform: translateY(0) !important;
      opacity: 1;
      visibility: visible;

      @include maxbp(600) {
        z-index: 999;
      }
    }
  }

  @include maxbp(600) {
    &:has(.sticky) {
      &:has(#wpadminbar) {
        &:has(#countDownTimerSection) {
          #cc-header {
            top: calc(
              var(--header-announce-height) - var(--only-header-height)
            ) !important;
          }

          #countDownTimerSection {
            top: 0 !important;
          }
        }
      }

      #cc-header {
        top: 0 !important;
      }
    }
  }
}

// Code Config Header Styles
.cc-header {
  background-color: #ffffff00;

  .header-menu-wrap {
    .logo-wrapper {

      .cc-logo {

        @include maxbp(xs) {
          width: max(50%, 150px);
        }
      }

      @include maxbp(md) {
        .bars {
          span {
            background: $cc-primary;
          }
        }
      }
    }

    .main-header-menu {
      @include maxbp(md) {
        background: #fff;
        box-shadow: 4px 4px 30px 0px #e0f5ffb2;
      }
      .main-menu {

        li.menu-item {
          @include maxbp(md) {
            border-color: $cc-border !important;
          }

          a {
            color: $cc-secondary;
          }

          &.current-menu-item {
            a {
              color: $cc-primary;
            }
          }

          &:hover {
            a {
              @include minbp(lg) {
                color: $cc-primary;
              }
            }
          }

          &.contact-btn {
            padding-left: 35px;

            @include maxbp(lg) {
              padding-left: 10px;
            }

            @include maxbp(md) {
              padding-left: 0;
            }

            a {
              background: $cc-primary;
              @include font(17, 17, 150);
              font-weight: 500;
              padding: 6px 14px 6px 6px;
              @extend .cc-relative, .d-flex, .align-center, .cc-transition;
              gap: 10px;
              border-radius: 30px;
              color: #fff !important;

              @include maxbp(md) {
                margin: 20px auto;
              }

              &:hover {
                background: #002abd;
              }

              &:before {
                content: url(./../images/microphone-icon.svg);
                width: 30px;
                aspect-ratio: 1 / 1;
                line-height: 0;
                border-radius: 100px;
                @extend .flex-center;
                background: #fff;
              }
            }
          }

          // Dropdown start
          &.menu-item-has-children {
            &::after {
              border-color: $cc-secondary;
            }

            .dropdown-menu {
              box-shadow: 4px 4px 30px 0px #e0f5ffb2;

              @include minbp(lg) {
                background: #ffffff;
              }

              &::before {
                border-bottom: 15px solid $cc-border;
              }

              .megamenu-column {
                ul {
                  li.menu-item {
                    a {
                      border: 1px solid $cc-border;

                      &::after {
                        background: var(--product-color);
                      }

                      span {
                        color: var(--product-color);

                        small {
                          color: $cc-text;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.active-dopdown-menu {
              &::after {
                border-color: #476df4;
              }
            }

            &:hover {
              &::after {
                @include minbp(lg) {
                  border-color: #476df4;
                }
              }
            }
          }
          // Dropdown end
        }
      }
    }
  }

  &.sticky {
    backdrop-filter: blur(20px);
    background-color: #ffffffb3;
    border-color: $cc-border;
  }
}
