$base-font-size: 16 !default;

// Colors
$cc-primary: #0061fe;
$cc-secondary: #000d23;
$cc-text: #3c4770;
$cc-border-color: #e0f5ff;
// $cc-bg-color: #f5f5f5;
$cc-white: #ffffff;
$cc-black: #000000;
$cc-warning: #ff0000;

// Typography
$dm: "DM Mono", sans-serif;

