@use './index' as *;

.btn-group {
  margin-top: clamp(20px, 2.5vw, 30px);
  @extend .flex-center, .flex-wrap;
  gap: 12px;
}
.cc-btn {
	@extend .align-center, .cc-relative, .cc-transition;
	display: inline-flex;
	border-radius: 100px;
	padding: 10px;
	gap: 20px;

	@include maxbp(xs) {
		grid-area: 10px;
	}

	.cc-btn-text {
		@include font(16, 18, 150);
		font-weight: 500;
		font-family: $dm;
		padding: 0 10px;

		@include maxbp(xs) {
			padding: 0 5px;
		}
	}

	&.btn-icon {
		
		.cc-btn-icon {
			@extend .flex-center, .cc-transition;
			width: 40px;
			height: 40px;
			border-radius: 100px;

			@include maxbp(xs) {
				width: 30px;
				height: 30px;
			}

			img {
				max-width: 17px;

				@include maxbp(xs) {
					max-width: 13px;
				}
			}
		}
	}

	&.icon-left {
		flex-direction: row-reverse;
	}

	&.btn-blue {
		background: $cc-primary;
		color: #fff;

		&:hover {
			background: #002abd;
		}

		&.btn-icon {
			.cc-btn-icon {
				background: #fff;
			}
		}
	}

	&.btn-violet {
		background: #9448ff;
		color: #fff;

		&.btn-icon {
			.cc-btn-icon {
				background: transparent;
			}
		}
	}

	&.btn-white {
		background: #fff;
		color: #000;

		&:hover {
			background: #b4b4b4;
		}
	}

	&.btn-transparent {
		background: transparent;
		color: $cc-primary;
		border: 1px solid $cc-primary;

		&:hover {
			background: $cc-primary;
			color: #fff;
		}
	}

	&.icon-bg-black {
		&.btn-icon {
			.cc-btn-icon {
				background: #000;

				img {
					filter: brightness(0) invert(1);
				}
			}
		}
	}

	&.icon-rotate {
		.cc-btn-icon {
			transform: rotate(0deg);
		}

		&:hover {
			.cc-btn-icon {
				transform: rotate(35deg);
			}
		}
	}
}


body.igd-page {
    --fbtn-primary: #{$ccpigd-primary};
    --fbtn-bg: #{$ccpigd-bg};
    --fbtn-border: #{$ccpigd-border};
}


.feature-btn {
    @extend .flex-center, .cc-transition;
    @include font(16, 20, 100);
    font-weight: 500;
    padding: rem(15) clamp(rem(10), 2vw, rem(30));
    gap: rem(10);
    border-style: solid;
    border-width: rem(1);
    border-radius: 12px;

    @include maxbp(xs) {
        width: 80%;
    }

    &.icon-right {
        flex-direction: row-reverse;
    }

    &.icon {
        @extend .cc-relative;

        &::before {
        content: "";
        width: 18px;
        aspect-ratio: 1;
        @extend .cc-mask-cover, .cc-transition;
        }
    }
    &.icon-wordpress {
        &::before {
        mask: url("../images/google-drive/wordpress.svg");
        }
    }
    &.icon-crown {
        &::before {
        mask: url("../images/google-drive/crown.svg");
        }
    }
    &.icon-shapes {
        &::before {
        mask: url("../images/google-drive/shapes.svg");
        }
    }
    &.icon-arrow {
        &::before {
        mask: url("../images/google-drive/arrow-right.svg");
        }
    }
    &.primary {
        color: $cc-white;
        background: var(--fbtn-primary, #{$cc-primary});
        border-color: var(--fbtn-primary, #{$cc-primary});

        &::before {
        background-color: $cc-white;
        }

        &:hover {
        color: var(--fbtn-primary, #{$cc-primary});
        background: var(--fbtn-bg, transparent);
        border-color: var(--fbtn-border, #{$cc-border});

        &::before {
            background-color: var(--fbtn-primary, #{$cc-primary});
        }
        }
    }
    &.secondary {
        color: var(--fbtn-primary, #{$cc-primary});
        background: var(--fbtn-bg, transparent);
        border-color: var(--fbtn-border, #{$cc-border});

        &::before {
        background-color: var(--fbtn-primary, #{$cc-primary});
        }

        &:hover {
        color: $cc-white;
        background: var(--fbtn-primary, #{$cc-primary});
        border-color: var(--fbtn-primary, #{$cc-primary});

        &::before {
            background-color: $cc-white;
        }
        }
    }
    &.white {
        color: $cc-white;
        
        &::before {
        background-color: $cc-white;
        }
    }
}
